.body{
<<<<<<< HEAD
       background-color:blue;;
=======
       background-color:powderblue;
>>>>>>> another
}
.h1{
       color:green;
}
.h2{
     color:orange;
}
.submit{
     background-color:blue;
}